In [1]:
pip install gdown

Requirement already satisfied: gdown in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from gdown) (4.12.2)
Requirement already satisfied: filelock in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from gdown) (3.12.2)
Requirement already satisfied: requests[socks] in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from gdown) (4.66.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from beautifulsoup4->gdown) (2.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]->gdown) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]->gdown) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]->gdown) (2023.5.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from tqdm->gdown) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)

In [2]:
import gdown

dataset_url = "https://drive.google.com/u/1/uc?id=1Wt1eQkZz76gqRL9h8R6FOEPH3eLsbLsA&export=download"
filename = "healthcare-dataset-stroke-data.csv"
gdown.download(dataset_url, filename)

Downloading...
From: https://drive.google.com/u/1/uc?id=1Wt1eQkZz76gqRL9h8R6FOEPH3eLsbLsA&export=download
To: D:\YearLoop\April\healthcare-dataset-stroke-data.csv
100%|███████████████████████████████████████████████████████████████████████████████| 317k/317k [00:00<00:00, 1.11MB/s]

'healthcare-dataset-stroke-data.csv'

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv(filename)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [6]:
df.info

<bound method DataFrame.info of          id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]>

In [7]:
df.isnull()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,False,False,False,False,False,False,False,False,False,True,False,False
5106,False,False,False,False,False,False,False,False,False,False,False,False
5107,False,False,False,False,False,False,False,False,False,False,False,False
5108,False,False,False,False,False,False,False,False,False,False,False,False
5109,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.notnull()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,False,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,True,True,True,True,True,True,True,True,True,False,True,True
5106,True,True,True,True,True,True,True,True,True,True,True,True
5107,True,True,True,True,True,True,True,True,True,True,True,True
5108,True,True,True,True,True,True,True,True,True,True,True,True
5109,True,True,True,True,True,True,True,True,True,True,True,True